.container {
  background-color: #333;
  height: 30vh;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row;
  /*Define la alineacion de los hijos en el eje principal(main axis)*/
  justify-content: space-evenly;

  align-items: stretch;
}
.item {
  border: solid #999;
  // width: 20%;
  // height: 20%;
  background-color: #666;
}

.item:nth-child(2) {
  font-size: 150%;
}
